*{
    margin: 0;
    padding: 0;
    box-sizing:border-box; 
    font-family: work sans;

}
html,body{
    height: 100%;
    width: 100%;

}

#main{
    height: 100%;
    width: 100%;
    /* background-color: bisque; */

}

#nav{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: aqua; */
    padding: 0 50px;
}

.gola{
    background-color: black;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    
}

#nav-part1{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3px;
}

#nav-part2{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

#nav-part2 h4{
    font-size: 18px;
    font-weight: 600;
}
#nav-part2 h4 span{
    color: rgb(135, 135, 135);
    margin-left: 25px ;
}

#nav2{
    height: 80px;
    width: 100%;
    /* background-color: lawngreen; */
    display: flex;
    align-items: center; 
    gap: 70px;
    padding: 0 50px;
    
}

#nav2 h3{
    font-size: 21px;
    font-weight: 450;
    text-transform: uppercase;
}

#content{
    height: calc(100% - 160px);
    width: 100%;
    /* background-color: cornflowerblue; */
}

#textcontent{
    height: 45%;
    width: 100%;
    /* background-color: rgb(231, 231, 15); */
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
}

#textcontent::-webkit-scrollbar{
    background-color: transparent;
    height: 7px;
     
}
#textcontent::-webkit-scrollbar-thumb{
    background-color: rgb(255, 91, 32);
}

.elem{
    height: 100%;
    width: 70%;
    /* background-color: rgb(204, 80, 254); */
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.elem h1{
    font-size: 150px;
    font-weight: 350;
     
}

#imagecontent{
    height: 55%;
    width: 100%;
    /* background-color: rgb(36, 175, 255); */
    display: flex ;
    overflow-x: auto;
}

#imagecontent::-webkit-scrollbar{
    display: none;
}

#imagecontent img{
    flex-shrink: 0;
    height: 100%;
    width: 100%;
    object-fit: cover;
}